body {
    margin: 0px;
}

.header {
    height: 779px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    background: center/100% url('Image/ImageHeader.jpg') no-repeat;
}

.dashboard {
    position: absolute;
    left: 5.24%;
    right: 5.3%;
    top: 8.22%;
    bottom: 77.02%;
    background: #FFFFFF;
    box-shadow: 0px 10px 15px rgba(2, 2, 2, 0.1);
    border-radius: 2px;
    height: 115px;
}

.logo {
    margin: 20px;
    height: 100%;
    background: no-repeat url('Image/Logo.jpg');
}

.tab {
    display: flex;
    position: absolute;
    right: 2%;
    top: 20%;
}

.tab-item {
    margin-left: 40px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;

    letter-spacing: -0.015em;

    color: #4E4E4E;
}

a.tab-item{
    text-decoration: none;
}

.network {
    position: absolute;
    right: 2%;
    top: 58%;
    width: max-content;
}

.network img {
    margin-left: 10px;
}
